---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import "../style/global.css"
---

<Layout title="Welcome to Astro.">
	<div class="text-primary">This is the primary color.</div>
</Layout>


