<section class="w-screen h-[60vh] relative mt-[4rem]">
  <div class="w-full h-1/2 bg-white"></div>
  <div class="w-full h-1/2 bg-dark-shade"></div>

  <div
    class="con bg-primary lg:h-full absolute top-0 left-0 right-0 bottom-0 z-10 rounded-xl flex items-center justify-center drop-shadow shadow lg:w-full w-4/5 h-4/5 text-center">
    <div class="flex items-center justify-center flex-col gap-5">
      <h1 class="h1">Get started today</h1>
      <p class="p">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla omnis
        placeat soluta beatae ut quae?
      </p>
      <button class="btn-2">Get started</button>
    </div>
  </div>
</section>
