---
// import { Image } from "astro:assets";
---

<section class="sec-2">
  <div class="con">
    <div class="w-full flex h-full lg:flex-row flex-col">
      <div
        class="lg:w-1/2 lg:h-full items-center justify-center bg-gray-100 px-[5rem] rounded-xl py-[2rem] w-full h-1/2">
        <img
          src="/assets/banner-1-medium.webp"
          srcset="/assets/banner-1-small.webp 500w,
             /assets/banner-1-large.webp 800w,
             /assets/banner-1.webp 1200w"
          sizes="(max-width: 600px) 100vw, (max-width: 1024px) 50vw, 33vw"
          alt="hero img"
          class="w-auto h-full object-cover rounded-xl drop-shadow shadow-xl border-[5px] border-white transition cursor-pointer hover:scale-105 hover:border-none"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div
        class="lg:w-1/2 lg:h-full flex flex-col items-center justify-center gap-5 lg:pl-[5rem] text-center lg:text-left lg:items-start pt-[1rem] lg:pt-0">
        <h1 class="h1 lg:text-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
          placeat!
        </h1>

        <p class="p">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          doloribus voluptatibus illum repellendus earum totam quam fugiat
          dolore ullam voluptate inventore saepe exercitationem quos provident
          vitae sed, cumque nisi deleniti.
        </p>

        <button class="btn-3">Start Discovery</button>
      </div>
    </div>
  </div>
</section>
