---
import Category from "./Category.tsx";
---

<section class="sec-2 bg-slate-100 h-full">
  <div class="con">
    <div class="flex items-center flex-col gap-5">
      <h1 class="h1">Lorem ipsum dolor sit amet.</h1>
      <p class="p lg:w-1/2 text-center w-full">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea omnis
        ratione sequi aperiam a, in alias distinctio qui ipsum obcaecati.
      </p>
    </div>

    <div class="flex flex-wrap gap-5 items-center justify-center py-10 w-full">
      <Category />
      <Category />
      <Category />
      <Category />
      <Category />
      <Category />
    </div>
  </div>
</section>
