---
import { Image } from "astro:assets";
import Review from "./Hero Icons/Review.tsx";
import Boost from "./Hero Icons/Boost.tsx";
import Chart from "./Hero Icons/Chart.tsx";
---

<section class="sec bg-white text-black gap-[4rem] relative">
  <div class="con flex">
    <div class="w-1/2 h-full flex items-center justify-start pr-[4rem]">
      <div class="flex flex-col items-start gap-5">
        <div class="flex items-center gap-2">
          <div class="w-1 h-5 bg-primary"></div>
          <p class="font-light">Lorem ipsum dolor sit amet.</p>
        </div>
        <h1 class="text-5xl font-bold leading-10">
          <span class="bg-primary">Lorem ipsum dolor,</span> sit amet consectetur adipisicing elit. Doloremque
          enim consequatur
        </h1>
        <p class="text-gray-500">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque
          nesciunt totam officia distinctio suscipit corrupti, voluptas labore
          pariatur inventore.
        </p>

        <div class="flex items-center gap-5">
           <button class="btn-2">click me</button>
           <button class="btn-4">learn more</button>
        </div>
       
      </div>
    </div>

    <div class="w-1/2 h-full flex items-center justify-center relative">
      <Image
        src={"/assets/hero-img.webp"}
        width={675}
        height={1000}
        alt="hero img"
        class="w-auto h-full object-contain scale-75 pt-[4rem] drop-shadow-2xl z-20"
      />
      <div class="bg-primary w-2/3 h-1/2 absolute z-[5] bottom-[6rem] rounded-t-full left-1/2 -translate-x-1/2"></div>
      <Review/>
      <Boost/>
      <Chart/>
    </div>
  </div>
</section>
