---
import Review from "./Hero Icons/Review.tsx";
import Boost from "./Hero Icons/Boost.tsx";
import Chart from "./Hero Icons/Chart.tsx";
---

<section class="sec bg-white text-black gap-[4rem] relative">
  <div class="con flex lg:flex-row flex-col-reverse">
    <div class="lg:w-1/2 h-full flex items-center justify-start lg:pr-[3rem] w-full pt-[4rem] pb-[2rem] lg:pb-0">
      <div class="flex flex-col items-start gap-5">
        <div class="flex items-center gap-2">
          <div class="w-1 h-5 bg-primary"></div>
          <p class="font-light">Lorem ipsum dolor sit amet.</p>
        </div>
        <h1 class="text-5xl font-bold lg:leading-10">
          <span class="bg-primary">Lorem ipsum dolor,</span> sit amet consectetur adipisicing elit. Doloremque
          enim consequatur
        </h1>
        <p class="text-gray-500">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil itaque
          nesciunt totam officia distinctio suscipit corrupti, voluptas labore
          pariatur inventore.
        </p>

        <div class="flex items-center gap-5 flex-col lg:flex-row">
           <button class="btn-2">click me</button>
           <button class="btn-4">learn more</button>
        </div>
       
      </div>
    </div>

    <div class="lg:w-1/2 h-full flex items-center justify-center relative w-full pt-[2rem]"> 
      <img src="/assets/hero-img.webp" alt="hero img" class="w-full h-full object-contain lg:scale-75 pb-[0] lg:mt-[8rem] drop-shadow-2xl z-20" width="675" height="1000" decoding="async">
      
      <div class="bg-primary lg:w-2/3 lg:h-1/2 absolute z-[5] lg:bottom-[6rem] rounded-t-full left-1/2 -translate-x-1/2 w-full h-3/4 bottom-0"></div>
      <Review/>
      <Boost/>
      <Chart/>
    </div>
  </div>
</section>
