---
import NewsCard from "./NewsCard";

---

<section class="sec">
  <div class="con  flex flex-col items-center justify-center w-full h-full">
    <h1 class="h1">Latest news and updates</h1>
    <div class="flex items-center justify-center gap-5 w-full h-2/3">
        <NewsCard/>
        <NewsCard/>
        <NewsCard/>
    </div>
    <button class=" btn-4">view more</button>
  </div>
</section>
